.background{
    background-image: url(../imagens/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 3px;
}
span{
    color: #f9004d;
}

nav ul li{
    display:inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    padding: 6px 6px;
    border: 2px #f9004d;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 6px 6px gray;
    color: #f9004d;
    transition: all 0.6s;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.btn{
    font-family: 'Poppins', sans-serif;
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.2);
    box-shadow: 6px 6px gray;
}

.Main{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}

h4{
    font-family: 'Poppins', sans-serif;
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 13px 14px 15px;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 15px #858585;
    right: -24px;
    top: 6px;
}

.background-color-sobre{
    background-color: #121212;
    width: 100%;
    padding: 100px 0px;
}

.background-color-sobre img{
    width: 430px;
    height: auto;
}

aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.icon-menu .menu{
    font-size: 30px;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
    display: none;
}

#barra-menu{
    background-color: #191919;
    height: 100vh;
    width: 0px;
    transition: 0.4s all;
}

#barra-menu ul li{
    list-style: none;
    padding: 15px;
}

#barra-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
}

#barra-menu ul li a:hover{
    border: solid 2px #fff;
    padding: 10px;
    border-radius: 15px;
    background-color: #f9004d;
}

.C-icon{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}

.text-sobre{
    width: 550px;
}

.Main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.text-sobre h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-sobre h5{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text-sobre p{
    font-family: 'Poppins', sans-serif;
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 45px;
}

.button{
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #fff;
    text-transform: none;
    border: 2px solid #f9004d;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
}

.button:hover{
    background-color: #f9004d;
    border: 2px solid #fcfcfc;
    cursor: pointer;
    box-shadow: 0px 0px 15px #858585;
}

.Container-Meus-Projetos{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.Title h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card{
    background-color: #121212;
    height: 425px;
    width: 335px;
    border: 20px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 0px 25px #858585;
}

.card a{
    color: #fff;
    text-decoration: none;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d; 
}

.card h5{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.card p{
    font-family: 'Poppins', sans-serif;
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card-btn{
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: #fff;
    text-transform: none;
    border: 2px solid #f9004d;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
}

.card-btn:hover{
    background-color: #f9004d;
    border: 2px solid #fcfcfc;
    cursor: pointer;
    box-shadow: 0px 0px 15px #858585;
}

.me-contate{
    width: 100%;
    height: 240px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-contate p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

footer{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
}

h6{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #fff;   
}

.redes-sociais{
    display: flex;
}

.redes-sociais a{
    background-color: #f9004d;
    width: 25px;
    height: 25px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.redes-sociais a:hover{
    transform: scale(1.2);
    transition: .4s;
}

.End{
    background-color: #191919;
    width: 100%;
    position: relative;
    
    font-size: 14px;
}

.End p{
    color: #f9004d;
    font-weight: bold;
}

.habilidades{
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    height: 260px;
    background-color: #121212;
}

.habilidades h6{
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.habilidades p{
    margin-top: -5px;
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.habilidades i{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f9004d;
    width: 25px;
    height: 25px;
    padding: 15px;
    margin: 22px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
    display: inline-flex;
}

.me-contate p{
    text-align: center;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 425px){
    .icon-menu .menu{
        display: block;
    }

    nav ul li{
        display: none;
    }

    .btn{
        display: none;
        
    }

    #barra-menu{
        height: 100vh;
        z-index: 1;
    }

    .C-icon{
        background-color: #f9004d;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 30px;
        text-transform: none;
        font-weight: bold;
        padding: 10px 5px;
        width: 150px;
        margin-left: -32px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }

    .Main h1{
        font-size: 28px;
    }

    .Main h3{
        font-size: 16px;
    }

    .Main h4{
        font-size: 24px;
    }

    .Container-btn form{
        align-items: center;
        width: 260px;
        max-width: 100%;
        position: relative;
        margin-left: -2px;
    }

    .background-color-sobre{
        align-items: center;
        text-align: center;
    }

    .Main-sobre img{
        width: 280px;
        height: 300px;
        border-radius: 10px;
        margin-left: -48px;
        margin-bottom: -275px;
        margin-top: -750px;
    }

    .text-sobre h2{
        margin-left: -1180px;
        font-size: 28px;
        margin-top: -60px;
        margin-bottom: 20px;
    }

    .text-sobre h5{
        margin-left: -1180px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .text-sobre p{
        margin-left: -490px;
        font-size: 16px;
        margin-top: 420px;
        width: 350px;
        margin-bottom: 20px;
        text-align: center;
        justify-content: center;
    }

    .text-sobre button{
        margin-left: -1180px;
    }

    .Container-Meus-Projetos h2{
        margin-left: -380px;
        font-size: 32px;
        font-weight: bold;
        margin-top: -50px;
    }

    .habilidades h6{
        font-size: 28px;
        font-weight: bold;
    }

    .habilidades p{
        font-size: 16px;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .habilidades i{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #f9004d;
        width: 25px;
        height: 25px;
        padding: 5px;
        margin: 22px 15px;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 50%;
        display: inline-flex;
    }

    footer h6{
        font-size: 28px;
        text-align: center;
    }

    .redes-sociais a{
        background-color: #f9004d;
        width: 12px;
        height: 12px;
        padding: 10px;
        border-radius: 50%;
        margin: 22px 10px;
        color: #fff;
        text-decoration: none;
        font-size: 17px;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #logo{
        font-size: 20px;
    }

    #barra-menu{
        background-color: #191919;
        height: 100vh;
        width: 0px;
        transition: 0.4s all;
    }
}
